<% layout("layouts/admin/boilerplate.ejs") %>

<div class="homeImg">
    <div class="quotes1">
        <p>Expert Medical Guidance at Your Fingertips</p>
        <h3>Quality Medical Care, Made Effortless and Accessible</h3>
    </div>

<div class="quotes2 mb-4">
    <span>Innovative </span> <p> Tools for</p><span> Modern Medicine</span>
    <article>From Routine Appointments to Critical Consultations</article>
    <img src="https://assets.icliniq.com/v2/assets/images/hompage-image/Chat.svg" alt="chat icon">
</div>
