<% layout("/layouts/doctor/boilerplate.ejs") %>

<div class="homeImg">
    <div class="quotes1">
        <p>Expert Medical Guidance at Your Fingertips</p>
        <h3>Quality Medical Care, Made Effortless and Accessible</h3>
    </div>
    <div class="doctorImgCont">
        <img class="doctorImg" src="https://th.bing.com/th/id/R.e9dc7a5ee9caf116055fea358aed01dc?rik=HufwxSmE7CDMKA&riu=http%3a%2f%2fwww.pngall.com%2fwp-content%2fuploads%2f2018%2f05%2fDoctor-PNG-File-Download-Free.png&ehk=%2bKeteaj8sg7lx8ZqKVFzFu%2fbiF41aD4U%2bPEBJTAOefg%3d&risl=&pid=ImgRaw&r=0" alt="doctor illustration">
    </div>

<div class="quotes2 mb-4">
    <span>Innovative </span> <p> Tools for</p><span> Modern Medicine</span>
    <article>From Routine Appointments to Critical Consultations</article>
    <img src="https://assets.icliniq.com/v2/assets/images/hompage-image/Chat.svg" alt="chat icon">
</div>
