<header>
    <div class="logo-container">
        <img src="https://upload.wikimedia.org/wikipedia/commons/2/24/Seal_of_the_National_Capital_Territory_of_Delhi.svg" alt="Delhi Health Ministry Logo" class="logo">
        <h4>Government of NCT Delhi</h4>
        <img onclick="window.location.href='/superAdmin-profile'" src="https://cdn.vectorstock.com/i/500p/53/42/user-member-avatar-face-profile-icon-vector-22965342.jpg" alt="Profile" class="ProfileLogo">
    </div>
    <h1>State Health Management Dashboard</h1>
    <nav>
        <ul>
            <li><a href="/superAdmin-home"><i class="fa-solid fa-chart-line me-2"></i>Dashboard</a></li>
            <li><a href="#policies"><i class="fa-solid fa-file-contract me-2"></i>Interactive Policy Interface</a></li>
            <li><a href="#metrics"><i class="fa-solid fa-chart-pie me-2"></i>Performance Metrics</a></li>
            <li><a href="#settings"><i class="fa-solid fa-gear me-2"></i>Settings</a></li>
        </ul>
    </nav>
</header>
