<% layout("layouts/patient/boilerplate.ejs") %>
<body>
    <div class="patientContainer">

        

        <div class="patientHomeImg d-flex">
            <div class="patientQuotes1">
                <p>Consult top doctors</p> <span>effortlessly</span>
                <h3>Get 24/7 online appointments with the best doctors
                    without breaking a sweat and your bank</h3>
            </div>
            <img src="https://assets.icliniq.com/v2/assets/images/hompage-image/Banner-min-crop-bg.jpg" alt="patient-home-banner">
        </div>


    </div>
</body>
