<nav class="navbar navbar-expand-lg doctorNavContainer">

  <div class="container-fluid">
<a class="navbar-brand doctor-brand" href="/doctor-home">

      <i class="fa-solid fa-heart-pulse me-2"></i>
      <span>SwasthyaSankalp</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/doctor-home"><i class="fa-solid fa-house me-2"></i>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa-solid fa-clock-rotate-left me-2"></i>Patients History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/doctor-patient-appointment"><i class="fa-solid fa-calendar-check me-2"></i>Today's Appointments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/doctor-upcoming-appointment"><i class="fa-solid fa-calendar-days me-2"></i>Upcoming Appointments</a>
        </li>
      </ul>
      <div class="d-flex flex-column flex-lg-row align-items-start align-items-lg-center gap-2 gap-lg-3 mt-3 mt-lg-0">
        <div class="searchBar">
          <i class="fa-solid fa-magnifying-glass search-icon"></i>
          <input type="text" placeholder="Search patients...">
        </div>
        <div class="profile">
          <i onclick="window.location.href='/doctor-profile'" class="fa-solid fa-user-doctor profile-icon"></i>
        </div>
        <div class="nav-actions">
          <button class="btn-sos" onclick="sendEmergencyAlert('panic_button', 'Panic button activated by user')">
            <i class="fa-solid fa-triangle-exclamation"></i> SOS
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>

