<footer class="footerCont">
  <div>
    <a>&copy; 2026 SwasthyaSankalp, Inc.</a>
    <a href="#">Privacy</a>
    <a href="#">Terms</a>
  </div>
  <div class="mt-3">
    <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
    <a href="#"><i class="fa-brands fa-instagram"></i></a>
    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
    <a href="#"><i class="fa-brands fa-twitter"></i></a>
  </div>
</footer>
